// Here you can add other styles
input[type=number].no-spinner::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}
// Dashboard
.dashboard-chart {
    h4#traffic {
        color: $light-primary;
    }
    .date-traffic {
        font-size: 25px;
    }
}
