// Here you can add other styles
input[type=number].no-spinner::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}
// Dashboard
.chart {
    h4#traffic {
        color: $light-primary;
    }
    .date-traffic {
        font-size: 25px;
    }
}

// Chart
.chart-title {
    color: $light-primary;
    margin: 20px;
}

// widgets
.widgets {
    .text-value-lg {
        font-size: 2.5rem !important;
    }
    .image-card {
        width: 160px;
        height: 165px;
    }
}
